@font-face {
	src: url(../src/assets/fonts/Montserrat-Regular.ttf);
	font-family: Montserrat__Regular;
}

:root {
  --font-option: Montserrat__Regular;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf5e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 10px;
  /* background-color: rgba(245, 245, 220, 0.5); */
}